<!DOCTYPE html>

<html lang="tr">

    <head>
        <meta charset="UTF-8">
        <meta title="Yılmaz-Hakkında">
        <meta name="description" content="Personal Website of Yılmaz Sönmez">
        <meta name="author" content="Trencmivront">
        <meta name="keywords" content="personal, website, yılmaz, sönmez, trencmivront, kişisel, website, cv, iletişim, iş">
    </head>

    <body>
        <center>
            <header>
                <h1><>Hakkımda</u></h1>
            <nav>
                <a href="index.html">Anasayfa</a> |
                <a href="aboutMe.html"><mark>Hakkımda</mark></a> |
                <a href="files/yilmaz_sonmez_CV.pdf" title="As PDF file" target="_blank">CV</a> | 
                <a href="contact.html" >İletişim</a>
                <hr>
            </nav>
            </header>
        </center>

        <center>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: medium;">
            Bandırma Onyedi Eylül Üniversitesinde, İngilizce Bilgisayar Mühendisliği bölümünde öğrenciyim. Yeniliklere açığım ve araştırmayı, öğrenmeyi severim. Şu anda pek çok farklı alana karşı ilgi duymaktayım. Bunların arasından en sevdiğim ise Java ile masaüstü uygulamaları ve sunucu tarafı programlama.
        </p>
        <p style="font-family: 'Times New Roman', Times, serif;font-size:medium">
             Bu sıralar, derslerimde başarılı kalmaya ve ders dışında kendi alanımı ilgilendiren konularda eğitimler almaya, çalışmalar yapmaya yoğunlaştım. Sınırlarımı zorlayarak benden daha iyi olmak için uğraşıyorum. Yapay zekayı bir araç olarak kullanıyor, gerekli durumlarda (çoğu zaman) sorunlarımı araştırma yaparak çözüyorum. Çünkü yapay zekaya sırt vermenin, hiçbir işe yaramamaktan farklı olmadığını ve sadece yapay zeka kullanan birisinin yerine yapay zekanın rahatlıkla geçebileceğinin de farkındayım.
        </p>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: medium;">
             Sırf Java ile yetinmeyip yanına ilk öğrendiğim dil olan C++ ve temelini kurduğum Rust, Python, Kotlin (çünkü Java), HTML (bir ihtimal JavaScript) dillerini de ekleyip her türlü sisteme uyum sağlamayı hedefliyorum. Ayrıca gömülü sistemlere de atılım yapıp tüm bu bildiklerim ile nasıl bir yol çizeceğimi kararlaştıracağım. Linux'u da unutmayalım, öğrenmek lazım. << endl;
        </p>
        </center>
    </body>

</html>