<!DOCTYPE html>

<html lang="tr">

    <head>     

        <!-- <link rel="stylesheet" href="style.css">
         for including CSS files -->

        <link rel="stylesheet" href="style.css">

        <meta charset="UTF-8">
        <meta title="Yılmaz-İletişim">
        <meta name="description" content="Personal Website of Yılmaz Sönmez">
        <meta name="author" content="Trencmivront">
        <meta name="keywords" content="personal, website, yılmaz, sönmez, trencmivront, kişisel, website, cv, iletişim, iş">
    </head>

    <body>
        <center>
            <header>
                <h1>İletişim</h1>
                <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 30;">İletişim bilgilerini aşağıda bulabilirsiniz</p>
                <nav class="page_nav">
                    <table>
                        <tr>
                            <td><a href="/yilmaz_sonmez">Anasayfa</a></td>
                            <td><a href="/yilmaz_sonmez/about_me">Hakkımda</a></td>
                            <td><a href="/yilmaz_sonmez/files/yilmaz_sonmez_CV" title="As PDF file" target="_blank">CV</a></td>
                            <td><a href="/yilmaz_sonmez/contact" ><mark>İletişim</mark></a></td>
                        </tr>
                    </table>
                    <hr>
                </nav>
            </header>
        </center>

        <center>
            <article>
                <table style="margin: 50px;">
                    <tr><td style="padding: 10px;">LinkedIn: </td><td><a href="https://www.linkedin.com/in/yılmaz-sönmez-558508298" target="_blank">Yılmaz Sönmez</a></td></tr>
                    <tr><td style="padding: 10px;">E-mail: </td><td><a href="mailto:ysonmez824@gmail.com" target="_blank">ysonmez824@gmail.com</a></td></tr>
                    <tr></tr>
                </table>
            </article>
        </center>

        <center id="footer" style="bottom: 0%; width: 100%; position: fixed;">
            <footer>
                <form action="" id="request_form">
                    <table >
                        Buradan direkt mail göndererek bana ulaşabilirsiniz
                        <tr><td colspan="2"><hr></td></tr>
                        <tr><td>Ad Soyad: </td><td><input type="text" maxlength="30" name="name_surname"></td></tr>
                        <tr><td>Mail Adresi: </td><td><input type="email" required autocomplete="email" placeholder="example@hotmail.com" name="mail"> </td></tr>
                        <tr><td>Mesaj: </td><td><textarea cols="30" rows="5" name="message"></textarea></td></tr>
                        <tr><td colspan="2"><hr></td></tr>
                    </table>
                </form>

            </footer>
        </center>
    </body>

</html>