<!DOCTYPE html>

<html lang="tr">

    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
        <meta title="Yılmaz Sönmez">
        <meta name="description" content="Personal Website of Yılmaz Sönmez">
        <meta name="author" content="Trencmivront">
        <meta name="keywords" content="personal, website, yılmaz, sönmez, trencmivront, kişisel, website, cv, iletişim, iş">
    </head>

    <body>
        
        <center>
            <header>
            <h1>Yılmaz Sönmez</h1>
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                Birden fazla konu üzerine yoğunlaşmaya çalışan klasik bir Bilgisayar Mühendisliği öğrencisi
            </p>

            <nav class="page_nav">
                    <table>
                        <tr>
                            <td><a href="/yilmaz_sonmez"><mark>Anasayfa</mark></a></td>
                            <td><a href="http://localhost:8080/yilmaz_sonmez/about_me">Hakkımda</a></td>
                            <td><a href="/yilmaz_sonmez/files/yilmaz_sonmez_CV" title="As PDF file" target="_blank">CV</a></td>
                            <td><a href="/yilmaz_sonmez/contact" >İletişim</a></td>
                        </tr>
                    </table>
                    <hr>
                </nav>
        </header>
        </center>

        <article id="experiences">

            <h2>İş Deneyimi</h2>

            <h2>Projeler</h2>
        </article>

    </body>

</html>