<!DOCTYPE html>

<html lang="tr">

    <head title="Yılmaz Sönmez">
        <meta charset="UTF-8">
        <meta name="description" content="Personal Website of Yılmaz Sönmez">
        <meta name="author" content="Trencmivront">
        <meta name="keywords" content="personal, website, yılmaz, sönmez, trencmivront, kişisel, website, cv, iletişim, iş">
    </head>

    <body>
        
        <center>
            <header>
            <h1>Yılmaz Sönmez</h1>
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                Birden fazla konu üzerine yoğunlaşmaya çalışan klasik bir Bilgisayar Mühendisliği öğrencisi
            </p>

            <nav>
                <a href="index.html" id="nav_link"><mark>Anasayfa</mark></a> |
                <a href="aboutMe.html">Hakkımda</a> |
                <a href="files/yilmaz_sonmez_CV.pdf" title="As PDF file" target="_blank">CV</a> | 
                <a href="contact.html" >İletişim</a>
                <hr>
            </nav>
        </header>
        </center>

        <article id="experiences">

            <h2>İş Deneyimi</h2>

            <h2>Projeler</h2>
        </article>

    </body>

</html>